Package: se.nosskirneh.maskedhotspotpass
Name: MaskedHotspotPass
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Mask the hotspot password in Settings
Depiction: https://andreashenriksson.se/repo/depictions/?p=se.nosskirneh.maskedhotspotpass
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
